<% include ../partials/header.ejs %>
<div class="viewport-container bg-delsol">
    <div class="container-fluid">
	    <div class="row">
	    	<div class="col-12 col-lg-6">
	    		<div class="card mt-3 mb-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<h1 class="display-4">Daron Anderson</h1>
	    				<h2>Skateboarder</h2>
	    				<p>Welcome To My Cyber Abode!<br>
	    				   A Custom Site & Collection of Videos By Us For You.	
	    				</p>
	    			</div>
	    		</div>
	    	</div>
	    </div><!-- .row -->
	    					<!-- .content start-->
	    					<!--we contributed x views box-->
	    					<!--todays quote box-->
	    <div class="row">
	        
	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fjonathan.ball.10%2Fvideos%2F1456303581089373%2F&show_text=0&width=560" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	           <div> 	
				<p class="card text-center">.....And now for a Destiny Road Special Presentation! Happy Birthday to The "King of Pop" Michael Jackson! If Michael's music impacted you in ANYWAY, please love and SHARE! Everyone tagged please share! Thanks for your support and stay tuned for more great music from Destiny Road very soon! WATCH to the very end for the credits!! Let's Go Viral for MJ one time.... enjoy #MichaelJackson #DestinyRoad #KingofPop #NewArtists #FeelGoodMusic #RealMusic #Greatestofalltime
				</p>
			   </div>
	        </div><!-- .col -->

	        
	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/MAmy_W6b4A4" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div><!-- .col -->

	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/aTk-PVFUgWM" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div><!-- .col -->	

	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/FrWS8tPtA34" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div><!-- .col -->

	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/kPnUyqqu7ys" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div><!-- .col -->	  
	        
	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/km8eEHpYkws" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div><!-- .col -->

	        <div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/8FvDs0xdZ8s" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div><!-- .col -->
 
			<div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/q-QHmIbWhsI" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div><!-- .col -->

			<div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/zhyTCgAg-xw?ecver=1" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div> <!-- .col -->
	    </div><!-- .row -->

	    				<!-- .content end-->

	    				<!-- .content start-->
<!--
	    <div class="row">

			<div class="col-12 col-lg-6">
	            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/8FvDs0xdZ8s" frameborder="0" style="min-height: 400px;" allowfullscreen></iframe>
	        </div>-->
	        	   <!-- .col --> <!-- .content end-->
	    </div><!-- .row -->

    </div><!-- .container-fluid -->
</div><!-- .viewport-container -->
<!---->

<div class="viewport-container bg-oakland">
    <div class="container-fluid">
	    <div class="row">
	    	<div class="col-12 col-lg-6">
	    		<div class="card mt-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<h1 class="display-4">Mr. Anderson</h1>
	    				<h3>Programmer</h3>
	    			</div>
	    		</div>
	    	</div>
	    </div><!-- .row -->

	    <div class="row">
	        <div class="col-12 col-lg-6">
	    		<div class="card mt-3 mb-3 text-center text-lg-left">
	    			<div class="card-block">
	    				<p class="card-text">
	    					Developer @ 
	    					<a href="https://codehesion.tech" target="_blank">
	    						Codehesion
	    					</a> where I build cool websites for the community.<br><br>
	    					Member of 
	    					<a href="https://sudoroom.org" target="_blank">
	    						Sudo Room
	    					</a> where I teach and program with other Developers.<br><br>
	    					I am interested in <em>Web Development,</em> <em>Network Security</em>, <em>Penetration Testing</em> &amp; <em>Ethical Hacking</em>.<br>
	    				</p>
	    			</div>
	    		</div>
	        </div><!-- .col -->
	    </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .viewport-container -->
<% include ../partials/footer.ejs %>